imports:
    - { resource: config_dev.yml }

framework:
    test: ~
    session:
        # storage_id: session.storage.mock_file
        # changed as per the liip functional storage
        storage_id: session.storage.filesystem
    profiler:
        collect: false

liip_functional_test:
    cache_sqlite_db: true
    # fail test if page makes to many requests
    # query_count.max_query_count: 50

# sqlite for fast testing
doctrine:
    dbal:
        default_connection: default
        connections:
            default:
                driver:   pdo_sqlite
                path:     %kernel.cache_dir%/test.db
                # path:     :memory:
                # memory:   true
    # orm:
        # auto_generate_proxy_classes: true
        # auto_mapping: true

web_profiler:
    toolbar: false
    intercept_redirects: false

swiftmailer:
    disable_delivery: true
