security:
    encoders:
        Symfony\Component\Security\Core\User\User: plaintext
        FOS\UserBundle\Model\UserInterface: sha512

    providers:
        fos_userbundle:
            id: fos_user.user_provider.username
        in_memory:
            memory:
                users:
                    admin: { password: admin, roles: [ 'ROLE_ADMIN' ] }
                    user:  { password: user, roles: [ 'ROLE_USER' ] }

    role_hierarchy:
        ROLE_ADMIN:       ROLE_USER
        ROLE_SUPER_ADMIN: [ROLE_USER, ROLE_ADMIN, ROLE_ALLOWED_TO_SWITCH]

    access_control:
        - { path: ^/login$, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/register, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/resetting, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/admin/, role: ROLE_ADMIN }
        # - { path: ^/login, roles: IS_AUTHENTICATED_ANONYMOUSLY, requires_channel: https }

    firewalls:
        main:
            pattern: ^/
            form_login:
                provider: fos_userbundle
                csrf_provider: form.csrf_provider
            anonymous:    true
            # perhaps remove this to test 'remember me' func
            logout:       true

        remember_me:
            key: '%secret%'
            lifetime: 31536000 # 365 days in seconds
            path: /
            domain: ~ # Defaults to the current domain from $_SERVER

        dev:
            pattern:  ^/(_(profiler|wdt)|css|images|js)/
            security: false

        # login:
            # pattern:  ^/secured/login$
            # security: false

        # secured_area:
            # pattern:    ^/secured/
            # form_login:
                # check_path: _security_check
                # login_path: _demo_login
            # logout:
                # path:   _demo_logout
                # target: _demo
            #anonymous: ~
            #http_basic:
            #    realm: "Secured Demo Area"