{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

  <div class="row">
    <div class="col-lg-12">
      <div class="page-header">
        <h1 id="type">Register</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">

        {% if false == is_granted("ROLE_USER") %}

          {% include "FOSUserBundle:Registration:register_content.html.twig" %}

        {% else %}

          You have already registered.

        {% endif %}

      </div>
    </div>
  </div>

{% endblock fos_user_content %}