{% extends '::base.html.twig' %}

{% block title %}ROTES{% endblock %}

{% block body %}

  <h1>Current rotes:</h1>

  <ul class="rotes">
      {% for rote in rotes if rote.id %}
          <li>
            <a href="{{ path('rote_show', {'id': rote.id}) }}">
              {{ rote.id }}
            </a>
          </li>
      {% else %}
          <li>No ROTES man!</li>
      {% endfor %}
  </ul>

{% endblock %}