{% extends '::base.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block title %}ROTES{% endblock %}

{% block body %}

  <div class="">
      <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h1 id="type">{{ rote.name }}</h1>
                    {% if is_granted('ROLE_USER') %}
                        <a href="{{ path('rote_show', { 'slug': rote.slug }) }}">Edit mode</a>
                    {% endif %}
                </div>
            </div>

            <div class="col-lg-4">
                <div class="message">
                    {{ rote.message|markdown }}
                </div>
            </div>
      </div>

  </div>

{% endblock %}